<div ng-controller="FubarCtrl">
  <div ng-if="isAuthenticated()" class="fubar">
    <div class="row">
      <div class="col-md-3 col-xs-3 resource-block">
        <i class="fa fa-star" aria-hidden="true"></i><span class="resource-name">Ether</span> {{currentUser.resources.ether}}
      </div>
      <div class="col-md-3 col-xs-3 resource-block">
        <i class="fa fa-star" aria-hidden="true"></i><span class="resource-name">Ether</span> {{currentUser.resources.ether}}
      </div>
      <div class="col-md-3 col-xs-3 resource-block">
        <i class="fa fa-star" aria-hidden="true"></i><span class="resource-name">Ether</span> {{currentUser.resources.ether}}
      </div>
      <div class="col-md-3 col-xs-3 resource-block">
        <i class="fa fa-star" aria-hidden="true"></i><span class="resource-name">Ether</span> {{currentUser.resources.ether}}
      </div>
    </div>
  </div>
</div>